/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .alt-home-container {
    
      }
  .alternative-welcome-image {
    max-width: 100%;
    border-radius: 8px;
    height: auto;
  }
  .name-text-container {
    max-width: 100%;
    margin-top: 10px;
  }
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust the space between buttons */
  }
  .action-button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    max-width: 100%;
    color: white;
    background-color: #4CAF50; /* Example background color */
    transition: background-color 0.3s ease;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  
  }
  
  .action-button:hover {
    background-color: #45a049; /* Darker shade for hover effect */
  }
  
  .subtitle {
    font-size: 0.8rem;
    color: #f0f0f0; /* Lighter text color for the subtitle */
  }
  
  #subjectselectsub {
    color: black;
  }
  
  
}

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .alt-home-container {
    text-align: center;
    background-color: #45a049;
    padding: 20px;
  }
}

/* Small Laptop Styles */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .alt-home-container {
    text-align: center;
    background-color:royalblue;
    padding: 20px;
  }
}

/* Medium Laptop/Desktop Styles */
@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .alt-home-container {
    text-align: center;
    background-color:goldenrod;
    padding: 20px;
  }
}

/* Large Desktop and above (including 34-inch ultrawide monitors) */
@media only screen and (min-width: 1921px) {
  .alt-home-container {
    text-align: center;
    background-color:red;
    padding: 20px;
  }
}
