body {
  font-family: 'Montserrat', sans-serif;
}
.welcome-back, .user-name {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.01em;
  text-align: center;
}

.welcome-back {
  font-weight: 500;
}

.user-name {
  font-weight: 700;
}

/* Styles for the buttons */
.action-button-nav {
  border: none;
  color: white;
  padding: 05px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 80%; /* Adjust based on preference */
  max-width: 300px; /* Ensures buttons are not too wide on larger screens */
}




/* Additional styles for button backgrounds, defined in JavaScript */
.continue {
  background-color: #960000;
  color: white; /* White text for the first two buttons */
}

.testSkills {
  background-color: #E64646;
  color: white;
}

.subjectSelect {
  background-color: #FFC0AC;
  color: black; /* Black text for the Subject Select button */
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
 .action-button-nav {

  background-color: red;
 }
}

/* Small Screen  */
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .action-button-nav{

   }
}
/* Medium */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .action-button-nav{

   }
}
/* Large Desktop and above (including 34-inch ultrawide monitors) */
@media only screen and (min-width: 1921px) {
  .action-button-nav{

   }
}